.post {
    display: flex;
    padding: 10px;
    background-color: rgb(247,247,247);
    margin-bottom: 20px;
}
.post img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}