.menu {
    display: flex;
    flex-direction: column;
}
.menu_item a {
    color: #2d2d2d;
    text-decoration: none;
    margin-bottom: 10px;
}
.menu_item a:hover,
.menu_item a.active{
    color: black;
    font-weight: 600;
}
.menu a:last-child {
    margin-bottom: 0;
}